:host {
  display: block;
}

.issues-page {
  min-height: 100%;
}

.issues-main-content {
  min-height: 100%;
}

.issues-content-inner {
  width: min(100%, 87.5rem);
  margin-inline: auto;
  padding: 2rem;
}

@media (max-width: 1023px) {
  .issues-content-inner {
    padding: 1rem;
  }
}
